In this tutorial

Mean squared error, cost function, gradient descent and learning rate. These are all some important topics in machine learning, we are going to look into this

we won't be implementing gradient descent in actualmachine learning problems, but we are learning in this tutorial is to learns some of the internal

Mean squared error is also called as cost function, there are different kind of cost function but mean squared error is the most popular one

Gradient Descent is the algorithm that finds best fit line for given training data set

In this tutorial cocepts are taaught and dirct excercise file is give

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

## Excercise file

- Consider math as x and cs as y

In [3]:
df = pd.read_csv("C:/Users/ezhil/Desktop/BITTU DOCUMENTS/Code basics/Machine learning from tutorial 3/ml 3/test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [4]:
# now let's right the code for this
#we are using function(def) and for loop to do many calculations

In [5]:
x = np.array([df.math])
y = np.array([df.cs])
# we are using array to calculate matrix multiplications wihout error and fast

In [19]:
# consider the below points as step by step
# start with m&b current value as 0
# iterations is 1000, nothing but no.of.trails then pass this into iterations
# now y=mx+b, which is nothing but the predicted value
# now m derivative(md), b derivative(bd), formula written by looking images
# defining the value of n in functions, where n=x
# post derivative we are using learning steps, because derivative gives slope, but learning rate give direction
# now specify larning rate in function
# say 0.001#
# now printing values
# after checking functions we are going to call gradient_descent
# after check the code executed bar , which is 3rd below from this box
# cost sum bracs definiton, where we are passing 'for loop' for the value in bracs and giving square for those values

In [22]:
def gradient_descent(x,y):
    m_curr = b_curr = 0
    iterations = 10
    n=len(x)
    learning_rate = 0.08
    
    for i in range(iterations):
        y_predicted = m_curr * x + b_curr
        cost = (1/n)*sum([val**2 for val in(y-y_predicted)])
        md = -(2/n)*sum(x*(y-y_predicted))
        bd = -(2/n)*sum(y-y_predicted)
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd
        
        print("m{}, b{}, iteraion{}".format(m_curr, b_curr, i))

In [21]:
# errors done 
# format. instead of .format
#(,) no needed near .format
# In, cost function val**2 is done outside bracs

In [18]:
# these are written after the code executed
# remembering the 3d diagram at each steps we need to reduce the cost(MSE)
# so we need to mention the cost, again we are writing costcode in for lope second line

In [15]:
gradient_descent(x,y)

m[1442.56  609.28 1140.48  896.   1062.4   407.68  686.4   168.    718.08
  782.56], b[15.68 10.88 12.96 12.8  13.28  8.32 10.56  4.8  10.88 11.68], iteraion0
m[-1950918.144   -304591.2576 -1411001.856   -700815.36   -1085942.784
  -155864.2176  -462743.424    -32618.88    -499151.7696  -560625.984 ], b[-21205.632   -5439.1296 -16034.112  -10011.648  -13574.2848  -3180.9024
  -7119.1296   -931.968   -7562.9056  -8367.552 ], iteraion1
m[2.64037406e+09 1.52576462e+08 1.74710364e+09 5.48851453e+08
 1.11109428e+09 5.97462796e+07 3.12426537e+08 6.36606862e+06
 3.47470248e+08 4.02193863e+08], b[28699718.0288      2724579.679232   19853450.43840001  7840735.04768
 13888678.515968    1219311.827968    4806562.100736     181887.67488
  5264700.726272    6002893.4848    ], iteraion2
m[-3.57348225e+12 -7.64286008e+10 -2.16326372e+12 -4.29838503e+11
 -1.13682722e+12 -2.29019435e+10 -2.10937900e+11 -1.24240178e+09
 -2.41880988e+11 -2.88533877e+11], b[-3.88421984e+10 -1.36479644e+09 -2.45825423e+10 -6.14055005e+09
 -1.42103403e+10 -4.67386602e+08 -3.24519846e+09 -3.54971938e+07
 -3.66486346e+09 -4.30647577e+09], iteraion3
m[4.83635088e+15 3.82846147e+13 2.67855314e+15 3.36632322e+14
 1.16315614e+15 8.77877297e+12 1.42416832e+14 2.42467132e+11
 1.68378194e+14 2.06994203e+14], b[5.25690313e+13 6.83653834e+11 3.04381039e+13 4.80903317e+12
 1.45394518e+13 1.79158632e+11 2.19102819e+12 6.92763235e+09
 2.55118475e+12 3.08946572e+12], iteraion4
m[-6.54551728e+18 -1.91775292e+16 -3.31658450e+18 -2.63636969e+17
 -1.19009484e+18 -3.36507926e+15 -9.61541486e+16 -4.73198855e+13
 -1.17211428e+17 -1.48497641e+17], b[-7.11469269e+16 -3.42455878e+14 -3.76884602e+16 -3.76624242e+15
 -1.48761855e+16 -6.86750869e+13 -1.47929459e+15 -1.35199673e+12
 -1.77593073e+15 -2.21638271e+15], iteraion5
m[8.85870308e+21 9.60640792e+18 4.10659493e+21 2.06469929e+20
 1.21765743e+21 1.28990218e+18 6.49194349e+19 9.23494886e+15
 8.15932193e+19 1.06532208e+20], b[9.62902509e+19 1.71542999e+17 4.66658515e+19 2.94957041e+18
 1.52207179e+19 2.63245343e+16 9.98760537e+17 2.63855682e+14
 1.23626090e+18 1.59003295e+18], iteraion6
m[-1.19893688e+25 -4.81204186e+21 -5.08478584e+24 -1.61698990e+23
 -1.24585838e+24 -4.94445304e+20 -4.38310057e+22 -1.80229262e+18
 -5.67986718e+22 -7.64262060e+22], b[-1.30319226e+23 -8.59293189e+19 -5.77816573e+22 -2.30998557e+21
 -1.55732298e+22 -1.00907205e+19 -6.74323164e+20 -5.14940749e+16
 -8.60585937e+20 -1.14068964e+21], iteraion7
m[1.62264117e+28 2.41044801e+24 6.29598183e+27 1.26636181e+26
 1.27471246e+27 1.89530774e+23 2.95929418e+25 3.51735428e+20
 3.95386914e+25 5.48281602e+25], b[1.76374040e+26 4.30437144e+22 7.15452481e+25 1.80908830e+24
 1.59339058e+25 3.86797498e+21 4.55276028e+23 1.00495837e+19
 5.99071082e+23 8.18330749e+23], iteraion8
m[-2.19608256e+31 -1.20744162e+27 -7.79568470e+30 -9.91763913e+28
 -1.30423480e+30 -7.26509362e+25 -1.99799706e+28 -6.86446861e+22
 -2.75236739e+28 -3.93337221e+28], b[-2.38704626e+29 -2.15614574e+25 -8.85873262e+28 -1.41680559e+27
 -1.63029350e+28 -1.48267217e+24 -3.07384163e+26 -1.96127675e+21
 -4.17025362e+26 -5.87070479e+26], iteraion9

In [23]:
gradient_descent(x,y)

m[1442.56  609.28 1140.48  896.   1062.4   407.68  686.4   168.    718.08
  782.56], b[15.68 10.88 12.96 12.8  13.28  8.32 10.56  4.8  10.88 11.68], iteraion0
m[-1950918.144   -304591.2576 -1411001.856   -700815.36   -1085942.784
  -155864.2176  -462743.424    -32618.88    -499151.7696  -560625.984 ], b[-21205.632   -5439.1296 -16034.112  -10011.648  -13574.2848  -3180.9024
  -7119.1296   -931.968   -7562.9056  -8367.552 ], iteraion1
m[2.64037406e+09 1.52576462e+08 1.74710364e+09 5.48851453e+08
 1.11109428e+09 5.97462796e+07 3.12426537e+08 6.36606862e+06
 3.47470248e+08 4.02193863e+08], b[28699718.0288      2724579.679232   19853450.43840001  7840735.04768
 13888678.515968    1219311.827968    4806562.100736     181887.67488
  5264700.726272    6002893.4848    ], iteraion2
m[-3.57348225e+12 -7.64286008e+10 -2.16326372e+12 -4.29838503e+11
 -1.13682722e+12 -2.29019435e+10 -2.10937900e+11 -1.24240178e+09
 -2.41880988e+11 -2.88533877e+11], b[-3.88421984e+10 -1.36479644e+09 -2.45825423e+10 -6.14055005e+09
 -1.42103403e+10 -4.67386602e+08 -3.24519846e+09 -3.54971938e+07
 -3.66486346e+09 -4.30647577e+09], iteraion3
m[4.83635088e+15 3.82846147e+13 2.67855314e+15 3.36632322e+14
 1.16315614e+15 8.77877297e+12 1.42416832e+14 2.42467132e+11
 1.68378194e+14 2.06994203e+14], b[5.25690313e+13 6.83653834e+11 3.04381039e+13 4.80903317e+12
 1.45394518e+13 1.79158632e+11 2.19102819e+12 6.92763235e+09
 2.55118475e+12 3.08946572e+12], iteraion4
m[-6.54551728e+18 -1.91775292e+16 -3.31658450e+18 -2.63636969e+17
 -1.19009484e+18 -3.36507926e+15 -9.61541486e+16 -4.73198855e+13
 -1.17211428e+17 -1.48497641e+17], b[-7.11469269e+16 -3.42455878e+14 -3.76884602e+16 -3.76624242e+15
 -1.48761855e+16 -6.86750869e+13 -1.47929459e+15 -1.35199673e+12
 -1.77593073e+15 -2.21638271e+15], iteraion5
m[8.85870308e+21 9.60640792e+18 4.10659493e+21 2.06469929e+20
 1.21765743e+21 1.28990218e+18 6.49194349e+19 9.23494886e+15
 8.15932193e+19 1.06532208e+20], b[9.62902509e+19 1.71542999e+17 4.66658515e+19 2.94957041e+18
 1.52207179e+19 2.63245343e+16 9.98760537e+17 2.63855682e+14
 1.23626090e+18 1.59003295e+18], iteraion6
m[-1.19893688e+25 -4.81204186e+21 -5.08478584e+24 -1.61698990e+23
 -1.24585838e+24 -4.94445304e+20 -4.38310057e+22 -1.80229262e+18
 -5.67986718e+22 -7.64262060e+22], b[-1.30319226e+23 -8.59293189e+19 -5.77816573e+22 -2.30998557e+21
 -1.55732298e+22 -1.00907205e+19 -6.74323164e+20 -5.14940749e+16
 -8.60585937e+20 -1.14068964e+21], iteraion7
m[1.62264117e+28 2.41044801e+24 6.29598183e+27 1.26636181e+26
 1.27471246e+27 1.89530774e+23 2.95929418e+25 3.51735428e+20
 3.95386914e+25 5.48281602e+25], b[1.76374040e+26 4.30437144e+22 7.15452481e+25 1.80908830e+24
 1.59339058e+25 3.86797498e+21 4.55276028e+23 1.00495837e+19
 5.99071082e+23 8.18330749e+23], iteraion8
m[-2.19608256e+31 -1.20744162e+27 -7.79568470e+30 -9.91763913e+28
 -1.30423480e+30 -7.26509362e+25 -1.99799706e+28 -6.86446861e+22
 -2.75236739e+28 -3.93337221e+28], b[-2.38704626e+29 -2.15614574e+25 -8.85873262e+28 -1.41680559e+27
 -1.63029350e+28 -1.48267217e+24 -3.07384163e+26 -1.96127675e+21
 -4.17025362e+26 -5.87070479e+26], iteraion9

## Let's chk the actual code by codebasics

- seems some codes are extra let's learn about that, code copied from github link

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import math

In [34]:
df = pd.read_csv("C:/Users/ezhil/Desktop/BITTU DOCUMENTS/Code basics/Machine learning from tutorial 3/ml 3/test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

def predict_using_sklean():
    df = pd.read_csv("C:/Users/ezhil/Desktop/BITTU DOCUMENTS/Code basics/Machine learning from tutorial 3/ml 3/test_scores.csv")
    r = LinearRegression()
    r.fit(df[['math']],df.cs)
    return r.coef_, r.intercept_

def gradient_descent(x,y):
    m_curr = 0
    b_curr = 0
    iterations = 1000000
    n = len(x)
    learning_rate = 0.0002

    cost_previous = 0

    for i in range(iterations):
        y_predicted = m_curr * x + b_curr
        cost = (1/n)*sum([value**2 for value in (y-y_predicted)])
        md = -(2/n)*sum(x*(y-y_predicted))
        bd = -(2/n)*sum(y-y_predicted)
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd
        if df.math.isclose(cost, cost_previous, rel_tol=1e-20):
            break
        cost_previous = cost
        print ("m {}, b {}, cost {}, iteration {}".format(m_curr,b_curr,cost, i))

    return m_curr, b_curr

if __name__ == "__main__":
    df = pd.read_csv("C:/Users/ezhil/Desktop/BITTU DOCUMENTS/Code basics/Machine learning from tutorial 3/ml 3/test_scores.csv")
    x = np.array(df.math)
    y = np.array(df.cs)

    m, b = gradient_descent(x,y)
    print("Using gradient descent function: Coef {} Intercept {}".format(m, b))

    m_sklearn, b_sklearn = predict_using_sklean()
    print("Using sklearn: Coef {} Intercept {}".format(m_sklearn,b_sklearn))

def predict_using_sklean():
    df = pd.read_csv("C:/Users/ezhil/Desktop/BITTU DOCUMENTS/Code basics/Machine learning from tutorial 3/ml 3/test_scores.csv")
    r = LinearRegression()
    r.fit(df[['math']],df.cs)
    return r.coef_, r.intercept_

 ## haven't cleared yet