## This Tutorial - Decision Tree

- If we have a  multiple points where we cant use both linear and logistic regression
- ley's drive into code

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:/Users/ezhil/Desktop/BITTU DOCUMENTS/Code basics/Machine learning from tutorial 3/ML 9/salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [10]:
inputs = df.drop('salary_more_then_100k', axis='columns') # independent variable
target = df.salary_more_then_100k # dependent variable

In [12]:
inputs.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [13]:
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [15]:
# let's convert inputs into number for ML technique
# which is done by LabelEncoder

In [16]:
from sklearn.preprocessing import LabelEncoder

In [19]:
# always create an object
le = LabelEncoder()

In [22]:
# now let"s assign the values as per Ml requirements
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [25]:
# let's fit and transform our data into columns
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [30]:
# let's drop those word columns
inputs_n = inputs.drop(['company', 'job', 'degree'], axis='columns')
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [41]:
# actually we should split our model into train and test data
# but in tutorial it's not done, so we'll have a try
# first we'll split and then we'll assign x and y values

In [42]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs_n,target,train_size=0.2)

In [43]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
# always remember assign object once the package is imported

In [49]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [53]:
model.predict([[2,2,1]]) # salary predicted for [google, sales executive, masters]

array([0], dtype=int64)

In [51]:
model.score(x_test,y_test)

1.0

In [52]:
# the prediction is 100% accurate because our data is less
# the prediction was done for the actual data in the excel.